.navDefault{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(63, 60, 60);
    color: rgba(255, 254, 254, 0.733);
}
button{
    background-color: rgb(35, 92, 168);
    width: 150px;
    height: 50px;
    color: white;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
}
.dropDownMenu{
    list-style: none;
    position: absolute;
    
    padding: 0;
    margin: 0;
    left: 0;
    right: 0;
    top: 50px;
    z-index: -1;/*Pone el elemento detras de todos los demas elemntos*/
    
    text-align: center;
    width: 150px;
    box-shadow: 4px 6px 19px 3px rgba(0,0,0,0.75);

    transform: translateY(-100%);
    transition:transform 2s;
}

.dropDownLink{
    text-decoration: none;
    display: block;
    background-color: #f9f9f9;
    color: #4a4a4f;
    padding: 10px 5px;
    transition: background-color .5s ease-in-out, color .5s;
    /*transition-property: all;
    transition-duration: .5s;*/
}

.dropDownLink:hover{
    background-color: #5e5e61;
    color: #f9f9f9;
}

.dropdown{
    width:150px;
    position: relative;
}
.dropdown:hover .dropDownMenu{
    transform: translateY(0);
}